extends ../layout
block content
	script.
		navmenu("#processing");
	p Welcome to #{title}
		include menu_button
	script(src="/javascripts/processing.js")
	canvas(id="#{pde_file}" data-processing-sources="/processings/sketch_#{pde_file}.pde" width="640" height="360")
	h3 sketch_#{pde_file} 
	p#description
	p#sources Source code: 
		a(href="/processings/sketch_#{pde_file}.pde") sketch_#{pde_file}
	p Built with 
		a(href="http://processing.org" title="Processing") Processing and 
		a(href="http://processingjs.org" title="Processing.js") Processing.js
